/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root[data-theme='dark'] {
  --ifm-color-primary: #3f9bdc;
  --ifm-color-primary-dark: #278ed7;
  --ifm-color-primary-darker: #2587cb;
  --ifm-color-primary-darkest: #1f6fa8;
  --ifm-color-primary-light: #57a7e0;
  --ifm-color-primary-lighter: #63aee3;
  --ifm-color-primary-lightest: #87c0e9;
  --ifm-code-font-size: 95%;
  --ifm-color-shadow: #000000;
  --ifm-color-shadow-dark: #ffffff;
}

:root[data-theme='light'] {
  --ifm-color-primary: #bf737e;
  --ifm-color-primary-dark: #b55e6b;
  --ifm-color-primary-darker: #b15361;
  --ifm-color-primary-darkest: #93434f;
  --ifm-color-primary-light: #c98891;
  --ifm-color-primary-lighter: #cd939b;
  --ifm-color-primary-lightest: #dcb2b8;
  --ifm-color-shadow: #000000;
  --ifm-color-shadow-dark: #ffffff;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer__copyright {
  border-top: solid #000;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

.hero--bg {
  background-image: '/img/banner.png';
}

html[data-theme='light'] {
  --ifm-background-color: #dadad8;
  --ifm-background-surface-color: #dadad8;
}
html[data-theme='light'] .footer {
  background-color: #d4d4d2;
}


.intro {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media screen and (max-width: 1200px) {
  .intro {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.noDecoLink {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 600px){
  img {
    max-width: 500px;
  }
}
@media screen and (max-width: 599px){
  img {
    max-width: 95%;
  }
}

.highlight-yellow {
  background-color: #fce300;
  padding-left: .15em;
  padding-right: .15em;
}

html[data-theme='dark'] .highlight-accent {
  background-color: #3f9bdc;
}

html[data-theme='light'] .highlight-accent {
  color: #bf737e;
}

html[data-theme='dark'] #transcriptionalt > p > img {
  filter: invert(50%) sepia(64%) saturate(484%) hue-rotate(162deg) brightness(97%) contrast(94%);
}

html[data-theme='light'] #transcriptionalt > p > img {
  filter: invert(55%) sepia(55%) saturate(353%) hue-rotate(302deg) brightness(85%) contrast(81%);
}

.highlight-accent {
  background-color: inherit;
  font-weight: bolder;
}

#bishopnames {
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1em;
}
.songtitle {
  margin-top: .1em;
  margin-bottom: .3em;
  font-weight: lighter;
}