name: Deploy to Archive Preview Channel
'on':
  pull_request:
    branches:
      - dmaorg-archive

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_TWENTYONEPILOTS_WIKI }}"
          projectId: 'twentyonepilots-wiki'
          target: 'dmaorg'